  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo" style="font-family: 'Aladin', cursive;"><a href="/" style="font-weight: 600;"><img src="{{ url_for('static', filename='assets/img/news-report.png') }}">WARSISTANT</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/home#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="/home#about">Tentang</a></li>
          <li><a class="nav-link scrollto" href="/home#blog">Materi</a></li>
          <li><a class="nav-link scrollto" href="/home#contact">Kontak</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->